# Exclude large dataset files
*.nii
*.nii.gz
MosMedData*/

# Exclude processed data and outputs
data_slices/
gradcam_binary/
gradcam_densenet121/

# Exclude trained models
models/
*.h5
mosmed_cnn_baseline.keras
mosmed_cnn_binary.keras
*.pb
*.ckpt
*.pth
*.weights

# Exclude Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

